In [1]:
import pandas as pd

import numpy as np

In [2]:
# df_canceled = pd.read_excel("CDM_cancellation_edited.xlsx")
df_projects = pd.read_csv('CDM Activities.csv')

df_projects

/var/folders/5x/w7k9bsls4fj7q9x5f3xxvt5m0000gn/T/ipykernel_10094/1575942810.py:2: DtypeWarning: Columns (27,28,29,31,32,52,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df_projects = pd.read_csv('CDM Activities.csv')

,CDM project reference number,Unique project identifier (traceable with Google),Registration project title,Type of CDM project: PA/PoA,Project classification,Sectoral scope number(s),Methodologies used at registration,Project type (UNEP DTU),Project subtype (UNEP DTU),DOE,...,Issuance (Para 218)/ Registration (Para 219),Last information provided on para. 218 and 219 of the PCP,Date of last information provided on Para. 218 and 219 of the PCP,Number of CPAs per host party (PoA),Amount of reduction per host party (PoA),Crediting type of the CPAs,Chronological number of registered CDM activity by country,Last communication with the Secretariat,Projects which cannot be renewed,Reporting date
0,1.0,AuxID,Project for GHG emission reduction by thermal ...,PA,LARGE,11,AM0001,HFCs,HFC23,SGS United Kingdom Limited (SGS),...,NaN,NaN,NaN,NaN,NaN,NaN,IN(1),2022m10,No,21Jun2023
1,3.0,LJ80OQZR2JVOLTZZX4Y0EGB1N18AVO,HFC Decomposition Project in Ulsan,PA,LARGE,11,AM0001,HFCs,HFC23,Japan Quality Assurance Organisation (JQA),...,NaN,NaN,NaN,NaN,NaN,NaN,KR(1),2016m11,No,21Jun2023
2,8.0,SQA16OAS75TKWYZTTKK7G1LO0O8CMU,Brazil NovaGerar Landfill Gas to Energy Project,PA,LARGE,13,AM0003,Landfill gas,Landfill power,Det Norske Veritas- CUK,...,NaN,NaN,NaN,NaN,NaN,NaN,BR(1),2022m7,No,21Jun2023
3,9.0,HG20LFVJPFURJJ4M6E6MS07HTOZTR4,La Esperanza Hydroelectric Project,PA,SMALL,1,AMS-I.D.,Hydro,Run of river,Det Norske Veritas- CUK,...,NaN,NaN,NaN,NaN,NaN,NaN,HN(4),2021m12,No,21Jun2023
4,11.0,V3ZBEVSXGFNT31E2CECR2NYE93FW5L,Project for GHG Emission Reduction by Thermal ...,PA,LARGE,11,AM0001,HFCs,HFC23,Japan Quality Assurance Organisation (JQA),...,NaN,NaN,NaN,NaN,NaN,NaN,CN(10),2020m11,Yes,21Jun2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13167,NaN,15VTQQNVJIB0Z2XPXLO4CGTD35UK0A,Conversion from Open Cycle Gas Turbines to Com...,PA,LARGE,1,ACM0007,EE supply side,Single cycle to combined cycle,Perry Johnson Registrars Carbon Emissions Serv...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013m2,NaN,21Jun2023
13168,NaN,L260PCERSDP4P2JWL51P9KAZKFN9S8,Organoeste Aracruz Composting Project,PA,SMALL,13,AMS-III.F.,Landfill gas,Landfill composting,RWTÜV GmbH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008m12,NaN,21Jun2023
13169,NaN,ZUXWEVY02DX446F763YUG09ZDXW5UE,"Balighat HEP, Uttarakhand",PA,SMALL,1,AMS-I.D.,Hydro,Run of river,Lloyd’s Register Quality Assurance Ltd. (LRQA)...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012m6,NaN,21Jun2023
13170,NaN,7N2U5M125WISWRR0D04IQ4LZ5OH63P,RDF Power Projects Ltd.  Integrated Solid Was...,PA,LARGE,1; 13,AM0025,Landfill gas,Combustion of MSW,Det Norske Veritas- CUK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010m3,NaN,21Jun2023
13171,NaN,F99Y7Y47SBQ9MFVI8EDJJRKH9VBKDI,Energy Efficient Power Generation by Welspun E...,PA,LARGE,1,ACM0013,EE supply side,Higher efficiency coal power,Bureau Veritas Certification Holding SAS (BVCH),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011m7,NaN,21Jun2023

In [3]:
df_issuances = pd.read_csv("CDM Issuances.csv")
df_issuances.drop('DOE', axis=1, inplace=True)
df_issuances.drop('PA/PoA', axis=1, inplace=True)
df_issuances.drop('CP', axis=1, inplace=True)
df_issuances.drop('Monitoring report number', axis=1, inplace=True)
df_issuances.drop('Last_updated', axis=1, inplace=True)
df_issuances.drop('Project type (UNEP DTU)', axis=1, inplace=True)
df_issuances.drop('Project subtype (UNEP DTU)', axis=1, inplace=True)
df_issuances['Monitoring report started'] = pd.to_datetime(df_issuances['Monitoring report started'])
df_issuances['Monitoring report ended'] = pd.to_datetime(df_issuances['Monitoring report ended'])

	



df_issuances

,CDM project reference number,HostParty,Issuance process ID,Issuance date,Monitoring report started,Monitoring report ended,Units - Total
0,6056,IN,4KEarth1658207029.91,21/6/23,NaT,NaT,"4,574"
1,6056,IN,4KEarth1658207029.91,21/6/23,NaT,NaT,"36,353"
2,3575,IN,4KEarth1658207602.68,15/6/23,2012-02-02,2012-12-31,"6,921"
3,3575,IN,4KEarth1658207602.68,15/6/23,2013-01-01,2020-01-09,"44,261"
4,9247,KR,poaiss312095101~KR,14/6/23,2019-12-27,2020-12-31,"1,058"
...,...,...,...,...,...,...,...
12467,115,IN,SGS-UKL1135865642.06,16/1/06,2004-01-07,2005-09-30,"542,829"
12468,52,BR,SGS-UKL1124438867.71,30/12/05,2004-01-01,2004-12-31,"45,988"
12469,58,IN,TUEV-SUED1122275513.39,21/10/05,2003-01-08,2005-06-30,"48,230"
12470,28,HN,DNV-CUK1125047164.62,20/10/05,2004-01-08,2004-12-31,"7,304"
12471,9,HN,DNV-CUK1128403314.35,20/10/05,2003-01-06,2005-05-31,"2,210"

In [4]:
df_canceled = pd.read_excel("CDM_cancellation_edited.xlsx")

df_canceled = df_canceled.drop(['Unit','Transaction Type','CP (Commitment Period)'], axis=1)
df_canceled = df_canceled.iloc[:, :-1]

# "unitBlockStart": "1583167",
        # "unitBlockEnd": "1584499",

df_canceled['Status'] = 'Retired'

df_canceled['Completion Date'] = df_canceled['Completion Date'].astype(str).str.split(' ').str[0]
df_canceled[['HostParty', 'CDM project reference number']] = df_canceled['Project Identifier'].str.split('-', 1, expand=True)
df_canceled[['unitBlockStart', 'unitBlockEnd']] = df_canceled['Serial Range'].str.split('-', 1, expand=True)
df_canceled.drop('Project Identifier', axis=1, inplace=True)
df_canceled['CDM project reference number'] = df_canceled['CDM project reference number'].astype(int)

df_canceled['Completion Date'] = pd.to_datetime(df_canceled['Completion Date'])
df_canceled['Monitoring report ended'] = pd.to_datetime(df_canceled['Completion Date'])
df_canceled['Issuance process ID'] = "COMBINEDCANCELLED-" + df_canceled['CDM project reference number'].astype(str)

max_dates = df_canceled.groupby('CDM project reference number')['Completion Date'].transform('max')
df_canceled.rename(columns={'Completion Date': 'Issuance date'}, inplace=True)

# Update the 'Completion Date' column with the maximum date within each group
# df_canceled['Completion Date'] = max_dates

# df_canceled = df_canceled.groupby('CDM project reference number', as_index=False)['Total'].sum()
df_canceled
# max_dates


# total_cancelled = df_canceled['Total'].astype(int).sum()
# print("Sum of 'total' for 'Cancelled' status:", total_cancelled)


# cancelled_rows = df_canceled[df_canceled['CDM project reference number'] == '4317']

# cancelled_rows

,Issuance date,Serial Range,Status,Total,HostParty,CDM project reference number,unitBlockStart,unitBlockEnd,Monitoring report ended,Issuance process ID
0,2012-10-27,65142364 - 65147657,Retired,5294,BR,2569,65142364,65147657,2012-10-27,COMBINEDCANCELLED-2569
1,2012-10-27,60482913 - 60488206,Retired,5294,BR,2486,60482913,60488206,2012-10-27,COMBINEDCANCELLED-2486
2,2012-10-27,57297956 - 57302955,Retired,5000,BR,143,57297956,57302955,2012-10-27,COMBINEDCANCELLED-143
3,2012-10-27,61682096 - 61687095,Retired,5000,BR,373,61682096,61687095,2012-10-27,COMBINEDCANCELLED-373
4,2012-10-27,57923146 - 57928145,Retired,5000,BR,268,57923146,57928145,2012-10-27,COMBINEDCANCELLED-268
...,...,...,...,...,...,...,...,...,...,...
26574,2023-08-31,1190670176 - 1190670354,Retired,179,CN,5134,1190670176,1190670354,2023-08-31,COMBINEDCANCELLED-5134
26575,2023-08-31,279632851 - 279632870,Retired,20,IN,5257,279632851,279632870,2023-08-31,COMBINEDCANCELLED-5257
26576,2023-08-31,314719364 - 314721507,Retired,2144,IN,6328,314719364,314721507,2023-08-31,COMBINEDCANCELLED-6328
26577,2023-08-31,314721508 - 314721512,Retired,5,IN,6328,314721508,314721512,2023-08-31,COMBINEDCANCELLED-6328
26578,2023-08-31,202768833 - 202772210,Retired,3378,IN,2936,202768833,202772210,2023-08-31,COMBINEDCANCELLED-2936

In [5]:
aggregated_df_cancelled = df_canceled.groupby('CDM project reference number').agg({
    'Issuance date': 'max',   # Get the maximum 'Completion Date'
    'Monitoring report ended': 'max',   # Get the maximum 'Completion Date'
    'Status': 'first',          # Get the first 'Status' (assuming all are the same)
    'Total': 'sum',             # Sum 'Total' values
    'HostParty': 'first'        # Get the first 'HostParty' (assuming all are the same)
    
}).reset_index()

# aggregated_df_cancelled[]
aggregated_df_cancelled['Issuance process ID'] = "COMBINEDCANCELLED-" + aggregated_df_cancelled['CDM project reference number'].astype(str)
aggregated_df_cancelled['Monitoring report started']= None
aggregated_df_cancelled['Monitoring report started'] = pd.to_datetime(aggregated_df_cancelled['Monitoring report started'])




# aggregated_df_cancelled = aggregated_df_cancelled['HostParty','CDM project reference number','Issuance process ID','Monitoring report started','Monitoring report ended']
issuance_columns = [
    'HostParty',
    'CDM project reference number',
    'Issuance process ID',
    'Issuance date',
    'Monitoring report started',
    'Monitoring report ended'
]
aggregated_df_cancelled = aggregated_df_cancelled[issuance_columns]
aggregated_df_cancelled

# Combined issuances of cancelled and normal
issuance_columns = [
    'HostParty',
    'CDM project reference number',
    'Issuance process ID',
    'Issuance date',
    'Monitoring report started',
    'Monitoring report ended'
]

combined_df = df_issuances[issuance_columns].copy()

combined_df = pd.concat([combined_df, aggregated_df_cancelled])

# Reset the index of the combined DataFrame
combined_df.reset_index(drop=True, inplace=True)


combined_df


# csv_file_path = 'CDM_Issuances_New.csv'

# # Export the DataFrame to a CSV file
# combined_df.to_csv(csv_file_path, index=False)

combined_df

,HostParty,CDM project reference number,Issuance process ID,Issuance date,Monitoring report started,Monitoring report ended
0,IN,6056,4KEarth1658207029.91,21/6/23,NaT,NaT
1,IN,6056,4KEarth1658207029.91,21/6/23,NaT,NaT
2,IN,3575,4KEarth1658207602.68,15/6/23,2012-02-02,2012-12-31
3,IN,3575,4KEarth1658207602.68,15/6/23,2013-01-01,2020-01-09
4,KR,9247,poaiss312095101~KR,14/6/23,2019-12-27,2020-12-31
...,...,...,...,...,...,...
13292,VN,10535,COMBINEDCANCELLED-10535,2021-10-05 00:00:00,NaT,2021-10-05
13293,MU,10537,COMBINEDCANCELLED-10537,2021-09-28 00:00:00,NaT,2021-09-28
13294,MU,10543,COMBINEDCANCELLED-10543,2021-08-30 00:00:00,NaT,2021-08-30
13295,IN,10573,COMBINEDCANCELLED-10573,2023-01-04 00:00:00,NaT,2023-01-04
13296,OM,10584,COMBINEDCANCELLED-10584,2023-05-11 00:00:00,NaT,2023-05-11

In [6]:
df_issuances

df_units_normal = df_issuances.copy()




df_units_normal

,CDM project reference number,HostParty,Issuance process ID,Issuance date,Monitoring report started,Monitoring report ended,Units - Total
0,6056,IN,4KEarth1658207029.91,21/6/23,NaT,NaT,"4,574"
1,6056,IN,4KEarth1658207029.91,21/6/23,NaT,NaT,"36,353"
2,3575,IN,4KEarth1658207602.68,15/6/23,2012-02-02,2012-12-31,"6,921"
3,3575,IN,4KEarth1658207602.68,15/6/23,2013-01-01,2020-01-09,"44,261"
4,9247,KR,poaiss312095101~KR,14/6/23,2019-12-27,2020-12-31,"1,058"
...,...,...,...,...,...,...,...
12467,115,IN,SGS-UKL1135865642.06,16/1/06,2004-01-07,2005-09-30,"542,829"
12468,52,BR,SGS-UKL1124438867.71,30/12/05,2004-01-01,2004-12-31,"45,988"
12469,58,IN,TUEV-SUED1122275513.39,21/10/05,2003-01-08,2005-06-30,"48,230"
12470,28,HN,DNV-CUK1125047164.62,20/10/05,2004-01-08,2004-12-31,"7,304"
12471,9,HN,DNV-CUK1128403314.35,20/10/05,2003-01-06,2005-05-31,"2,210"

In [7]:

df_units_normal = df_issuances.copy()

df_earliestmonitor = df_units_normal.groupby('CDM project reference number').agg({
    'Monitoring report started': 'min',   # Get the maximum 'Completion Date' 
}).reset_index()

df_units_normal['Vintage Year']= df_units_normal['Monitoring report started'].astype(str).str[:4]
df_units_normal.drop('Monitoring report started', axis=1, inplace=True)
df_units_normal.drop('Monitoring report ended', axis=1, inplace=True)


df_units_normal['Status'] = 'Held'
df_units_normal.columns = df_units_normal.columns.str.strip()
df_units_normal.rename(columns={'Units - Total': 'Total'},inplace=True)

selected_columns = [
    'CDM project reference number',
    'HostParty',
    'Issuance process ID',
    'Issuance date',
    'Total',
    'Vintage Year',
    'Status'
]
# df_units_normal = df_units_normal[selected_columns]
df_units_normal

# df_earliestmonitor['Monitoring report started']

,CDM project reference number,HostParty,Issuance process ID,Issuance date,Total,Vintage Year,Status
0,6056,IN,4KEarth1658207029.91,21/6/23,"4,574",NaT,Held
1,6056,IN,4KEarth1658207029.91,21/6/23,"36,353",NaT,Held
2,3575,IN,4KEarth1658207602.68,15/6/23,"6,921",2012,Held
3,3575,IN,4KEarth1658207602.68,15/6/23,"44,261",2013,Held
4,9247,KR,poaiss312095101~KR,14/6/23,"1,058",2019,Held
...,...,...,...,...,...,...,...
12467,115,IN,SGS-UKL1135865642.06,16/1/06,"542,829",2004,Held
12468,52,BR,SGS-UKL1124438867.71,30/12/05,"45,988",2004,Held
12469,58,IN,TUEV-SUED1122275513.39,21/10/05,"48,230",2003,Held
12470,28,HN,DNV-CUK1125047164.62,20/10/05,"7,304",2004,Held
12471,9,HN,DNV-CUK1128403314.35,20/10/05,"2,210",2003,Held

In [8]:

# df_canceled['Vintage Year'] = df_earliestmonitor['Monitoring report started']
df_canceled
df_earliestmonitor

      CDM project reference number Monitoring report started
0                                1                2005-01-10
1                                3                2003-01-01
2                                8                2004-01-07
3                                9                2003-01-06
4                               11                2006-01-12
...                            ...                       ...
3675                         10562                2020-07-31
3676                         10573                2020-11-09
3677                         10576                2020-03-11
3678                         10584                2020-03-08
3679                         10632                2020-12-23

[3680 rows x 2 columns]

In [60]:
df_units_canceled = df_canceled.copy()
df_units_canceled['unitBlockEnd'] = df_units_canceled['unitBlockEnd'].astype(int)
df_units_canceled['unitBlockStart'] = df_units_canceled['unitBlockStart'].astype(int)


df_units_minUnitStart =df_units_canceled.groupby('CDM project reference number').agg({'unitBlockStart':'min'})

df_units_maxUnitEnd = df_units_canceled.groupby('CDM project reference number').agg({'unitBlockEnd' :'max',})


df_units_canceled = df_units_canceled.groupby('CDM project reference number').agg({
    'Issuance date': 'max',   # Get the maximum 'Completion Date'
    'Status': 'first',          # Get the first 'Status' (assuming all are the same)
    'Total': 'sum',             # Sum 'Total' values
    'HostParty': 'first',        # Get the first 'HostParty' (assuming all are the same)
    'Issuance process ID': 'first',
    'unitBlockStart': 'min',
    'unitBlockEnd': 'min',
    
    
}).reset_index()


df_units_minUnitStart
df_units_canceled

# m
df_units_canceled['Vintage Year']= df_earliestmonitor['Monitoring report started'].astype(str).str[:4]
# df_units_canceled.rename(columns={'Total':'Units - Total'},inplace=True)
df_units_canceled

,CDM project reference number,Issuance date,Status,Total,HostParty,Issuance process ID,unitBlockStart,unitBlockEnd,Vintage Year
0,1,2023-08-31,Retired,640464,IN,COMBINEDCANCELLED-1,171288558,171288811,2005
1,8,2022-04-07,Retired,40080,BR,COMBINEDCANCELLED-8,94827990,94834536,2003
2,11,2013-10-01,Retired,59949,CN,COMBINEDCANCELLED-11,634629904,634635915,2004
3,33,2023-03-31,Retired,118293,CL,COMBINEDCANCELLED-33,20106943,20106952,2003
4,52,2023-08-25,Retired,4366403,BR,COMBINEDCANCELLED-52,101264191,101265592,2006
...,...,...,...,...,...,...,...,...,...
820,10535,2021-10-05,Retired,43058,VN,COMBINEDCANCELLED-10535,26201969,26225472,2008
821,10537,2021-09-28,Retired,21872,MU,COMBINEDCANCELLED-10537,462512,476883,2008
822,10543,2021-08-30,Retired,17224,MU,COMBINEDCANCELLED-10543,595390,612613,2008
823,10573,2023-01-04,Retired,140950,IN,COMBINEDCANCELLED-10573,295199647,295340596,2009
824,10584,2023-05-11,Retired,252914,OM,COMBINEDCANCELLED-10584,559404,698403,2008

In [61]:
normal_units_columns = [
    'CDM project reference number',
    'HostParty',
    'Issuance process ID',
    'Issuance date',
    'Status',
    'Total',
    # 'unitBlockStart',
    # 'unitBlockEnd',
    'Vintage Year'
]


cancelled_units_columns = [
    'CDM project reference number',
     'HostParty',
    'Issuance process ID',
    'Issuance date',
    'Status',
    'Total',
    # 'unitBlockStart',
    # 'unitBlockEnd',
    'Vintage Year'
]

combined_units = pd.concat([df_units_normal[normal_units_columns],df_units_canceled[cancelled_units_columns]])

# Reset the index of the combined DataFrame
combined_units.reset_index(drop=True, inplace=True)

# Change just the year part to 1970

# Fill 'Issuance date' column with NaN as datetime

# combined_units['Vintage Year'].fillna("1970", inplace=True)
combined_units['Vintage Year'].fillna(pd.to_datetime('1970-01-01'), inplace=True)
combined_units['Issuance date'] = pd.to_datetime(combined_units['Issuance date'], errors='coerce').fillna(pd.to_datetime('1970-01-01'))
combined_units['Vintage Year'] = pd.to_datetime(combined_units['Vintage Year'], errors='coerce').fillna(pd.to_datetime('1970-01-01'))
combined_units['Vintage Year']= combined_units['Vintage Year'].astype(str).str[:4]



# combined_units['Issuance date'] = pd.to_datetime(combined_units['Issuance date'], errors='coerce')

# # Replace the 'NaT' values (invalid dates) with NaN
# combined_units['Issuance date'].fillna(pd.NaT, inplace=True)

# # Format 'Issuance date' to dd-mm-yyyy
# combined_units['Issuance date'] = combined_units['Issuance date'].combined_units.strftime('%d-%m-%Y')
combined_units






combined_units.to_csv("CDM Units_updated.csv", index=False)

In [62]:
df_cmb = pd.read_csv("CDM Units_updated.csv")

In [64]:
cancelled_rows = df_cmb[df_cmb['Status'] == 'Retired']

# Calculate the sum of the 'total' column for the filtered rows
total_cancelled = cancelled_rows['Total'].astype(int).sum()

print("Sum of 'total' for 'Cancelled' status:", total_cancelled)

total_0 = df_cmb[df_cmb['Total'] == '0']
total_0

cancelled_rows

Sum of 'total' for 'Cancelled' status: 163497417

,CDM project reference number,HostParty,Issuance process ID,Issuance date,Status,Total,Vintage Year
12472,1,IN,COMBINEDCANCELLED-1,2023-08-31,Retired,640464,2005
12473,8,BR,COMBINEDCANCELLED-8,2022-04-07,Retired,40080,2003
12474,11,CN,COMBINEDCANCELLED-11,2013-10-01,Retired,59949,2004
12475,33,CL,COMBINEDCANCELLED-33,2023-03-31,Retired,118293,2003
12476,52,BR,COMBINEDCANCELLED-52,2023-08-25,Retired,4366403,2006
...,...,...,...,...,...,...,...
13292,10535,VN,COMBINEDCANCELLED-10535,2021-10-05,Retired,43058,2008
13293,10537,MU,COMBINEDCANCELLED-10537,2021-09-28,Retired,21872,2008
13294,10543,MU,COMBINEDCANCELLED-10543,2021-08-30,Retired,17224,2008
13295,10573,IN,COMBINEDCANCELLED-10573,2023-01-04,Retired,140950,2009
13296,10584,OM,COMBINEDCANCELLED-10584,2023-05-11,Retired,252914,2008